* { margin: 0; padding: 0; box-sizing: border-box;
  
  /* Color scheme */
  
  --textcolor: #121212;
  --bgcolor: #fff;
  --highlight: #850000;

}



body {
  font-size: 18px;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  color: var(--textcolor);
  background: var(--bgcolor);
  position: relative;
  max-width: 64em;  /* remove this for a full-width layout */
  margin: 0 auto;  /* centers the layout */
}

/* ------- Sections ------- */

section {
  padding: calc(6em + 5vw) 5vw 8vw 5vw;
  /* ! Everything below is needed ! */
  display: none;
  position: absolute;
  top: 0;
  min-height: 100vh;
  width: 100%;
  background: var(--bgcolor);
  z-index: -1;
}

section:target { /* Show section */
  display: block;
}

section#home { /* Show #home by default */
  display: block;
}


/* ------- Header ------- */

header {
  padding: 5vw 5vw 0 5vw;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header h1 {
  font-size: 1em;
  flex: 0; /* pushes nav to the left */
  white-space: nowrap;
  padding: 0 5vw .5em 0;
}

nav a:not(:last-of-type) {
  margin-right: 1.5vw;
}

/* ------- General ------- */

a {
  color: black;
}
a.body:hover {
  background: #FAED27;
}

a.nav {
  text-decoration: none;
  color: var(--highlight);
}
a.nav:hover {
  border-bottom: 1px solid;
}

a.footer{
  text-decoration: none;
  color: #4C2882;
}
a.footer:hover {
  border-bottom: 1px solid;
}


section h1 {
  font-size: 1em;
  margin: 0 0 1em 0;
}

h2, h3, h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 1.6em 0 .6em 0;
}

p, ul, ol, article {
  max-width: 60ch; /* Limit line-length to 60 characters */
  margin-bottom: .6em;
}

ul {
  list-style-type: none;
}

ul li::marker {
  content: "\2022   ";
}

li {
  margin-bottom: .2em;
}

ul, ol {
  padding-left: 2ch;
}

b, strong {
  font-weight: 600;
}

small {
  font-size: .85em;
}

img, svg, video, audio {
  display: block;
  max-width: 100%;
  height: auto;
  fill: currentColor;
}
 

/* External links */

a[href*="//"]:after { 
  font-weight: 300;
  font-size: .85em;
  content: "\2197"; /* top right arrow: ↗ */
  color: var(--textcolor);
  opacity: .25;
}

a[href*="//"]:hover:after {
  color: var(--highlight);
  opacity: 1;
}

/* File links */

a:before { 
  font-size: .7em;
  margin-right: .4em;
}


footer {
  padding: 1vw 5vw 0 5vw;
  position: fixed;
  bottom: 0;
  margin: auto;
  width: 100%;
  z-index: -1;
  
}

/* ------- Images Grid ------- */

.grid {
  display: grid;
  grid-gap: 5vmin;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 150px = minimum image size */
  grid-auto-flow: dense;
  padding: 2vw 0;
}

.grid a {
  display: flex; /* Change display to flex */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center items horizontally */
  position: relative;
  border: 0;
  justify-content: center; /* Center content vertically */
  text-align: center; /* Center text within each grid item */
}

.grid a:hover {
  transform: scale(.975);
  background: #FAED27;
}

/* For a square ratio */
.grid a:before {
  content: "";
  display: block;
  padding-top: calc(100% - 70vmin);
}

.grid a img {
  width: 100%; /* Remove position:absolute and top:0; */
  height: 100%; /* Remove height:100%; */
  object-fit: contain;
}

.grid a span {
  margin-top: 2vw;
  flex-wrap: wrap;
  min-height: 10vw;
  max-height: 10vw;
  line-height: 1em;
}

/* ------- Lightbox ------- */

.lightbox {
  display: none;
  color: var(--textcolor);
}

.lightbox:target {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: grid;
  place-items: center;
  align-content: center;
  background: var(--highlight);
  border: 0;
  z-index: 3;
}

.lightbox img {
  max-height: 100vh;
  z-index: 4;
}

.lightbox:target:before { /* Loading spinner */
  content:"";
  height: 2em;
  width: 2em;
  animation: spin .8s infinite linear;
  border: 1px solid;
  border-right-color: transparent;
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  opacity: .25;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.lightbox:target:after { /* Ã— to close */
  content: "\00D7";
  position: fixed;
  font-size: 2em;
  font-weight: 200;
  line-height: 0;
  top: .75em;
  right: .5em;
  z-index: 4;
}

@media screen and (min-width: 0px) and (max-width: 309px) {
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}


@media screen and (min-width: 310px) and (max-width: 479px) {
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}

/* For screens greater than or equal to 768px and less than 992px (Medium Devices - Laptops) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Adjust font sizes for medium screens */
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}

/* For screens greater than or equal to 992px and less than 1200px (Large Devices - Desktops) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* Adjust font sizes for larger screens */
    /* Adjust font sizes for medium screens */
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}

/* For screens greater than or equal to 1200px (Extra Large Devices - Large Desktops, TVs) */
@media screen and (min-width: 1200px) {
    /* Adjust font sizes for extra large screens */
    .grid a span { /* New CSS for text below the image */
      margin-top: 1vw; /* Adjust spacing between image and text */
    }
}
