{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>site personnel sur serveur photovoltaïque autonome | vpn.matangi.dev</title>
    <meta name="description" content="vpn.matangi.dev est un serveur photovoltaïque authébergé en lot-et-garonne qui propose quelques applis de projet personnels">
    
    <meta property="og:title" content="site personnel sur serveur photovoltaïque autonome | vpn.matangi.dev">
    <meta property="og:description" content="vpn.matangi.dev est un serveur photovoltaïque authébergé en lot-et-garonne qui propose quelques applis de projet personnels">
</head>

<body>
<div id="app">
    <div id="nav"></div>
    <div id="main"></div>
    <div id="footer"></div>
</div>

 
<script src="{% static 'frontend/js/main.js' %}"></script>
</body>
</html>
